<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>

</head>
<body>

<main>
    <h2>
        PAINEL DO ADMIN
    </h2>
    <p>
        Este painel oferece uma visão abrangente do uso do sistema, fornecendo dados
        essenciais, como o número de chamados em item, em execução e
        aguardando. Além disso, permite o gerenciamento de elementos-chave do
        sistema, como os setores da empresa e os tipos de prioridade. Isso possibilita o
        cadastramento de informações vitais, garantindo flexibilidade e adaptabilidade
        ao ambiente corporativo.
    </p>

    <h1> Chamados criados </h1>
    <div style="display: flex ; flex-direction: row; justify-content: space-around; gap: 20px">
        <div class="tickets open">
            <p>Em Aberto: </p>
            <p th:text="${contagemStatusEmAberto}"></p>
        </div>

        <div class="tickets doing">
            <p>Em atendimento: </p>
            <p th:text="${contagemStatusEmAtendimento}"></p>
        </div>

        <div class="tickets done">
            <p>Finalizado: </p>
            <p th:text="${contagemStatusFinalizado}"></p>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Título</th>
            <th>Setor</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="item : ${items}">
            <td th:text="${item.nome}"></td>
            <td th:text="${item.tituloChamado}"></td>
            <td th:text="${item.setorDeDirecionamento}"></td>
            <td th:text="${item.prioridade}"></td>
            <td th:text="${item.status}"></td>

            <td>
                <button type="button" class="simple-btn" data-toggle="modal" data-target="#modalDetalhesTicket"
                        th:attrappend="data-target=${item.id}">
                    Editar
                </button>
                <form id="form-salvar-chamado" action="/admin" method="post">
                    <input type="hidden" name="id" th:value="${item.id}">
                    <div class=" modal fade " th:attrappend="id=${item.id}" id="modalDetalhesTicket" tabindex="-1"
                         role="dialog"
                         aria-labelledby="exampleModalLabel"

                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="color: #1BB99A " th:text="${item.tituloChamado}"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-modal">
                                        <p> Título do Chamado </p>
                                        <div th:text="${item.tituloChamado}"></div>
                                    </div>

                                    <div class="form-modal">
                                        <p> Descrição </p>
                                        <div th:text="${item.descricao}"></div>
                                    </div>

                                    <div class="form-modal">
                                        <p for="status">Status</p>
                                        <select id="status" name="status">
                                            <option th:each="status : ${T(com.soulcode.demo.models.Status).values()}"
                                                    th:value="${status}"
                                                    th:selected="${item.status == status}">
                                                <span th:text="${#strings.replace(status, '_', ' ')}"></span>
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-modal">
                                        <p for="setorDeDirecionamento"> Setor responsável </p>
                                        <select id="setorDeDirecionamento" name="setorDeDirecionamento">
                                            <option th:each="setorDeDirecionamento : ${T(com.soulcode.demo.models.Sector).values()}"
                                                    th:value="${setorDeDirecionamento}"
                                                    th:selected="${item.setorDeDirecionamento == setorDeDirecionamento}">
                                                <span th:text="${#strings.capitalize(setorDeDirecionamento.name().replace('_', ' '))}"></span>
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-modal">
                                        <p for="prioridade">Prioridade:</p>
                                        <select id="prioridade" name="prioridade">
                                            <option value="Alta" th:selected="${item.prioridade == 'Alta'}">
                                                Alta
                                            </option>
                                            <option value="Média" th:selected="${item.prioridade == 'Média'}">
                                                Média
                                            </option>
                                            <option value="Baixa" th:selected="${item.prioridade == 'Baixa'}">
                                                Baixa
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="login-btn">Salvar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <h2> Filtro por prioridade </h2>
    <form action="#" th:action="@{/admin}" th:object="${filtroPropriedade}">
        <select th:field="*{prioridade}">
            <option value="">Todas</option>
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
        </select>
        <button class="simple-btn" type="submit">Filtrar</button>
    </form>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Título</th>
            <th>Setor</th>
            <th>Prioridade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketsFiltradosPrioridade}">
            <td th:text="${ticket.nome}"></td>
            <td th:text="${ticket.tituloChamado}"></td>
            <td th:text="${ticket.setorDeDirecionamento}"></td>
            <td th:text="${ticket.prioridade}"></td>
            <td th:text="${ticket.status}"></td>
        </tr>
        </tbody>
    </table>

    <h2> Filtro por Setor de Direcionamento </h2>
    <form action="#" th:action="@{/admin}" th:object="${filtroSetor}">
        <select th:field="*{setorDeDirecionamento}">
            <option value="">Todas</option>
            <option value="Administracao">Administracao</option>
            <option value="Recursos_Humanos">Recursos_Humanos</option>
            <option value="Financeiro">Financeiro</option>
            <option value="Vendas">Vendas</option>
            <option value="Marketing">Marketing</option>
            <option value="Producao">Producao</option>
            <option value="TI">TI</option>
            <option value="Juridico">Juridico</option>
            <option value="Logistica">Logistica</option>
        </select>
        <button class="simple-btn" type="submit">Filtrar</button>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Título</th>
            <th>Setor do chamado</th>
            <th>Prioridade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketsSetorDirecionamento}">
            <td th:text="${ticket.nome}"></td>
            <td th:text="${ticket.tituloChamado}"></td>
            <td th:text="${ticket.setorDeDirecionamento}"></td>
            <td th:text="${ticket.prioridade}"></td>
            <td th:text="${ticket.status}"></td>
        </tr>
        </tbody>
    </table>
    <script>
        $('.toast').toast('show');
    </script>
    <div th:if="${param.mensagem}">
        <div class="toast ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000"
             data-autohide="true">
            <div class="toast-header">
                <img src="/assets/operator_64.png" class="rounded mr-2" alt="...">
                <strong class="mr-auto">SheHelps</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <p th:text="${param.mensagem }"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>