<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2>
        PAINEL DO ADMIN AQUI
    </h2>
    <p>
        Este painel oferece uma visão abrangente do uso do sistema, fornecendo dados
        essenciais, como o número de chamados em aberto, em execução e
        aguardando. Além disso, permite o gerenciamento de elementos-chave do
        sistema, como os setores da empresa e os tipos de prioridade. Isso possibilita o
        cadastramento de informações vitais, garantindo flexibilidade e adaptabilidade
        ao ambiente corporativo.
    </p>
</main>
</body>
</html>