<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Chamado</title>
</head>
<body>
<h2>Criar Chamado</h2>
<form action="/criar-chamado" method="post">
    <label for="usuario">Usuário:</label><br>
    <input type="text" id="usuario" name="usuario"><br>
    <label for="descricao">Descrição:</label><br>
    <textarea id="descricao" name="descricao"></textarea><br>
    <label for="setor">Setor:</label><br>
    <input type="text" id="setor" name="setor"><br>
    <label for="prioridade">Prioridade:</label><br>
    <select id="prioridade" name="prioridade">
        <option value="baixa">Baixa</option>
        <option value="média">Média</option>
        <option value="alta">Alta</option>
    </select><br>
    <input type="hidden" id="data" name="data" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
    <input type="submit" value="Criar Chamado">
</form>
</body>
</html>