<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>Detalhes do Ticket</h1>
    <p>Nome: <span th:text="${ticket.nome}"></span></p>
    <p>Setor de Direcionamento: <span th:text="${ticket.setorDeDirecionamento}"></span></p>
    <p>Descrição: <span th:text="${ticket.descricao}"></span></p>
    <p>Prioridade Atual: <span th:text="${ticket.prioridade}"></span></p>
    <p>Status: <span th:text="${ticket.status}"></span> </p>
<div>

    <form action="/edit-ticket" method="post">
        <input type="hidden" name="id" th:value="${ticket.id}">

        <label for="prioridade">Prioridade:</label>
        <select id="prioridade" name="prioridade">
            <option th:value="${alta}" th:selected="${ticket.prioridade == 'alta'}">Alta</option>
            <option th:value="${média}" th:selected="${ticket.prioridade == 'média'}">Média</option>
            <option th:value="${baixa}" th:selected="${ticket.prioridade == 'baixa'}">Baixa</option>
        </select>

        <label for="setorDeDirecionamento">Setor de Direcionamento:</label>
        <select id="setorDeDirecionamento" name="setorDeDirecionamento" >

            <option th:value="${Administracao}" th:selected="${ticket.setorDeDirecionamento == 'Administracao'}">
                Administração
            </option>

            <option th:value="${Recursos_Humanos}" th:selected="${ticket.setorDeDirecionamento == 'Recursos_Humanos'}">
                Recursos
                Humanos
            </option>

            <option th:value="${Financeiro}" th:selected="${ticket.setorDeDirecionamento == 'Financeiro'}">Financeiro
            </option>

            <option th:value="${Vendas}" th:selected="${ticket.setorDeDirecionamento == 'Vendas'}">Vendas</option>
            <option th:value="${Marketing}" th:selected="${ticket.setorDeDirecionamento == 'Marketing'}">Marketing
            </option>

            <option th:value="${Producao}" th:selected="${ticket.setorDeDirecionamento == 'Producao'}">Produção</option>
            <option th:value="${TI}" th:selected="${ticket.setorDeDirecionamento == 'TI'}">Tecnologia da
                Informação
            </option>

            <option th:value="${Juridico}" th:selected="${ticket.setorDeDirecionamento == 'Juridico'}">Jurídico</option>

            <option th:value="${Logistica}" th:selected="${ticket.setorDeDirecionamento == 'Logistica'}">Logística
            </option>
        </select>

<!--        <label for="mudar-status">Status:</label>-->
<!--        <select id="mudar-status" name="mudar-status">-->
<!--            <option th:value="${Aguardando_técnico}" th:selected="${ticket.prioridade == 'Aguardando_técnico'}">Aguardando_técnico</option>-->
<!--            <option th:value="${Em_atendimento}" th:selected="${ticket.prioridade == 'Em_atendimento'}">Em_atendimento</option>-->
<!--            <option th:value="${Escalado_para_outro_setor}" th:selected="${ticket.prioridade == 'Escalado_para_outro_setor'}">Escalado_para_outro_setor</option>-->
<!--            <option th:value="${Finalizado}" th:selected="${ticket.prioridade == 'Finalizado'}">Finalizado</option>-->
<!--        </select>-->

        <button type="submit">Salvar</button>
    </form>
</div>

</main>
</body>
</html>