<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main>
        <h1>Detalhes do Ticket</h1>
        <table>
            <thead>
            <tr>
                <th></th>
                <th style="width: 70%"></th>
            </tr>
            </thead>
            <tbody class="details">
            <tr class="details">
                <th class="details">Nome:</th>
                <td class="details" th:text="${ticket.nome}"></td>
            </tr>
            <tr class="details">
                <th class="details">Setor de Direcionamento:</th>
                <td class="details" th:text="${ticket.setorDeDirecionamento}"></td>
            </tr>
            <tr class="details">
                <th class="details">Descrição:</th>
                <td class="details" th:text="${ticket.descricao}"></td>
            </tr>
            <tr class="details">
                <th class="details">Prioridade Atual:</th>
                <td class="details" th:text="${ticket.prioridade}"></td>
            </tr>
            <tr class="details">
                <th class="details">Status:</th>
                <td class="details" th:text="${ticket.status}"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <h2>Editar Ticket</h2>
            <form class="editForm" action="/edit-ticket" method="post">
            <input name="id" th:value="${ticket.id}" type="hidden">

                <div class="editItems">
                    <label for="prioridade">Prioridade:</label>
                    <select id="prioridade" name="prioridade">
                        <option th:value="${alta}" th:selected="${ticket.prioridade == 'alta'}">Alta</option>
                        <option th:value="${média}" th:selected="${ticket.prioridade == 'média'}">Média</option>
                        <option th:value="${baixa}" th:selected="${ticket.prioridade == 'baixa'}">Baixa</option>
                    </select>
                </div>

                <div class="editItems">
                    <label for="setorDeDirecionamento">Setor de Direcionamento:</label>
                    <select id="setorDeDirecionamento" name="setorDeDirecionamento" >

                        <option th:each="sector : ${T(com.soulcode.demo.models.Sector).values()}"
                                th:value="${sector}"
                                th:selected="${ticket.setorDeDirecionamento == sector}">
                            <span th:text="${#strings.capitalize(sector.name().replace('_', ' '))}"></span>
                        </option>
                    </select>
                </div>


            <button class="simple-btn" type="submit">Salvar</button>
        </form>
        </div>

    </main>
</body>
</html>
