<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>Detalhes do Ticket</h1>
    <table>
        <thead>
        <tr>
            <th></th>
            <th style="width: 70%"></th>
        </tr>
        </thead>
        <tbody class="details">
        <tr class="details">
            <th class="details">Nome:</th>
            <td class="details" th:text="${ticket.nome}"></td>
        </tr>
        <tr class="details">
            <th class="details">Setor de Direcionamento:</th>
            <td class="details" th:text="${ticket.setorDeDirecionamento}"></td>
        </tr>
        <tr class="details">
            <th class="details">Descrição:</th>
            <td class="details" th:text="${ticket.descricao}"></td>
        </tr>
        <tr class="details">
            <th class="details">Prioridade Atual:</th>
            <td class="details" th:text="${ticket.prioridade}"></td>
        </tr>
        <tr class="details">
            <th class="details">Status:</th>
            <td class="details" th:text="${ticket.status}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <h2>Editar Ticket</h2>

        <form class="editForm" action="/edit-user-tickets" method="POST">
            <input type="hidden" name="id" th:value="${ticket.id}">

            <div class="editItems">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" th:value="${ticket.descricao}"></textarea>
            </div>
            <div class="editItems">
            <label for="prioridade">Prioridade:</label>
                <select id="prioridade" name="prioridade">
                    <option value="Alta" th:selected="${ticket.prioridade == 'Alta'}">Alta</option>
                    <option value="Média" th:selected="${ticket.prioridade == 'Média'}">Média</option>
                    <option value="Baixa" th:selected="${ticket.prioridade == 'Baixa'}">Baixa</option>
                </select>
            </div>

            <div class="editItems">
                <label for="setorDeDirecionamento">Setor de Direcionamento:</label>
                <select id="setorDeDirecionamento" name="setorDeDirecionamento">
                    <option value="Administracao" th:selected="${ticket.setorDeDirecionamento == 'Administracao'}">Administração</option>
                    <option value="Recursos_Humanos" th:selected="${ticket.setorDeDirecionamento == 'Recursos_Humanos'}">Recursos Humanos</option>
                    <option value="Financeiro" th:selected="${ticket.setorDeDirecionamento == 'Financeiro'}">Financeiro</option>
                    <option value="Vendas" th:selected="${ticket.setorDeDirecionamento == 'Vendas'}">Vendas</option>
                    <option value="Marketing" th:selected="${ticket.setorDeDirecionamento == 'Marketing'}">Marketing</option>
                    <option value="Producao" th:selected="${ticket.setorDeDirecionamento == 'Producao'}">Produção</option>
                    <option value="TI" th:selected="${ticket.setorDeDirecionamento == 'TI'}">TI</option>
                    <option value="Juridico" th:selected="${ticket.setorDeDirecionamento == 'Juridico'}">Jurídico</option>
                    <option value="Logistica" th:selected="${ticket.setorDeDirecionamento == 'Logistica'}">Logística</option>
                </select>
            </div>

            <!--        <label for="mudar-status">Status:</label>-->
            <!--        <select id="mudar-status" name="mudar-status">-->
            <!--            <option th:value="${Aguardando_técnico}" th:selected="${ticket.prioridade == 'Aguardando_técnico'}">Aguardando_técnico</option>-->
            <!--            <option th:value="${Em_atendimento}" th:selected="${ticket.prioridade == 'Em_atendimento'}">Em_atendimento</option>-->
            <!--            <option th:value="${Escalado_para_outro_setor}" th:selected="${ticket.prioridade == 'Escalado_para_outro_setor'}">Escalado_para_outro_setor</option>-->
            <!--            <option th:value="${Finalizado}" th:selected="${ticket.prioridade == 'Finalizado'}">Finalizado</option>-->
            <!--        </select>-->

            <button class="simple-btn" type="submit">Salvar</button>
        </form>
    </div>

</main>
</body>
</html>