<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2>SheHelps - FAQ</h2>
    <h3>Meu computador não está ligando, o que fazer?</h3>
    <p class="p-faq">
        1. Verifique as conexões de energia:</br>
        Passo 1: Certifique-se de que o cabo de alimentação está conectado na tomada e no computador.</br>
        Passo 2: Teste a tomada com outro dispositivo para garantir que está funcionando.

    </p>
    <p class="p-faq">
        2. Tente ligar o computador diretamente na tomada:</br>
        Desconecte o estabilizador ou filtro de linha e conecte o cabo de alimentação diretamente na tomada.
    </p>
    <p class="p-faq">
        3. Verifique o cabo de alimentação e adaptador:</br>
        Passo 1: Inspecione o cabo e adaptador para ver se há danos.</br>
        Passo 2: Teste com outro cabo ou adaptador compatível, se possível.
    </p>
    <p class="p-faq">
        4. Realize um reset de energia</br>
        Passo 1: Desconecte o cabo de alimentação.</br>
        Passo 2: Pressione e segure o botão de ligar por 15 a 30 segundos.</br>
        Passo 3: Reconecte o cabo e tente ligar novamente.
    </p>
    <p style="margin: auto; color:  #666666;">Esse artigo resolveu o seu problema?</p>
    <div style="display: flex; justify-content: space-around">
        <button onclick="window.location.href='/';" class="simple-btn" >Sim, obrigada.</button>
        <button onclick="window.location.href='/login';" class="simple-btn">Não, abrir chamado</button>
    </div>
</main>
</body>
</html>