<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2>SheHelps - FAQ</h2>
    <h3>Esqueci minha senha. Como recuperar?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum odio, tristique quis eros sed, bibendum vestibulum dui. Maecenas ex elit, mattis vitae tincidunt ac, dapibus non nisl. Suspendisse dolor justo, semper eget lacinia ut, semper id erat. Etiam et convallis arcu. Morbi id eros sit amet nulla luctus venenatis sit amet at augue. Cras dictum lectus sed nibh tempus malesuada. Morbi a massa eu tellus semper malesuada. Vivamus eget viverra ipsum. Integer eleifend ligula quis leo semper, ut consequat metus tempus. Duis hendrerit dolor imperdiet iaculis pretium. Nunc sed eros eu nisi tristique tincidunt sit amet sit amet nulla.
    </p>
    <p>
        Ut eu iaculis eros. Aenean fringilla nunc in pretium mattis. Morbi sagittis ipsum sed ex imperdiet, at euismod augue interdum. Sed posuere erat quis ornare blandit. Phasellus pellentesque fringilla lacus, ut auctor magna porttitor eu. Nullam tristique consectetur turpis quis aliquam. Ut et pulvinar dolor, ac interdum dui. Aenean lacinia ipsum nec sodales semper. Aliquam erat volutpat. Quisque a neque libero. Sed eleifend est laoreet posuere congue. Mauris tincidunt lacus eget augue pulvinar, sit amet faucibus orci sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean rhoncus augue eget ipsum commodo, non condimentum purus convallis.
    </p>
    <p style="margin: auto">Esse artigo resolveu o seu problema?</p>
    <div style="display: flex; justify-content: space-around">
        <button onclick="window.location.href='/';" class="simple-btn" >Sim, obrigada.</button>
        <button onclick="window.location.href='/login';" class="simple-btn">Não, abrir chamado</button>
    </div>
</main>
</body>
</html>