<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2>SheHelps - Sistema de Chamados</h2>
    <div class="main-cards">
        <div>
            Está com algum problema?</br> </br>
            Não se preocupe,</br> estamos aqui para ajudar você.        </div>
        <img src="assets/operator_256.png" alt="Operator, Icon by Freepik" width="150px" height="150">
    </div>

    <div class="main-cards" >

        <a href="https://www.freepik.com/free-photo/close-up-young-businesswoman_21080971.htm#fromView=search&page=5&position=27&uuid=11fbfd38-368a-4c24-b599-658d75a3c233">
            <img  style="border-radius: 4px;" src="assets/close-up-young-businesswoman.jpg" alt="Image by Freepik" width="226px" height="150">
        </a>
        <div>
            Temos um time de desenvolvedoras e </br>
            técnicas altamente capacitadas para</br>
            atender os mais variados problemas.
        </div>
    </div>

    <div class="main-faq">
        <h3 style="text-align: start;">Perguntas Frequentes</h3>
        <div style="display: flex; justify-content: space-between">
            <ul>
                <li><a style="color:  #666666;" href="/faq">Meu computador não liga mais</a></li>
                <li><a style="color:  #666666;" href="/faq">Esqueci minha senha, como recuperar?</a>
                </li>
                <li><a style="color:  #666666;" href="/faq">Como posso fazer um novo projeto?</a>
                </li>
            </ul>
        </div>

    </div>
</main>
</body>
</html>