<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main style="align-items: center; justify-items: center;">
    <div class="card-template" style="width: 420px;">
        <h2>CADASTRAR USUÁRIO</h2>
        <form action="/cadastro" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha"><br>
            <label for="confirmacaoSenha">Confirmação de Senha:</label><br>
            <input type="password" id="confirmacaoSenha" name="confirmacaoSenha"><br><br>
            <label for="tipoUsuario">Tipo de Usuário:</label><br>
            <select id="tipoUsuario" name="tipoUsuario">
                <option value="USUARIO">Usuário</option>
                <option value="ADMINISTRADOR">Administrador</option>
                <option value="TECNICO">Técnico</option>
            </select><br><br>
            <label for="Setor">Setor:</label><br>
            <select id="Setor" name="setor">
                <option value="Administracao">Administração</option>
                <option value="Recursos_Humanos">Recursos Humanos</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Vendas">Vendas</option>
                <option value="Marketing">Marketing</option>
                <option value="Produção">Produção</option>
                <option value="TI">Tecnologia da Informação</option>
                <option value="Juridico">Jurídico</option>
                <option value="Logistica">Logística</option>
            </select><br><br>

            <button class="login-btn" style="width: 100%" type="submit">Cadastrar</button>
        </form>
    </div>
    </div>
    <script>
        $('.toast').toast('show');
    </script>
    <div th:if="${param.error}">
        <div class="toast ml-auto" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000"
             data-autohide="true">
            <div class="toast-header">
                <img src="/assets/operator_64.png" class="rounded mr-2" alt="...">
                <strong class="mr-auto">SheHelps</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <p th:text="${param.error }"></p>
            </div>
        </div>
</main>

</body>
</html>
