<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main>
  <h2>
    TELA DO TÉCNICO AQUI
  </h2>
  <p>
    ● Na tela do técnico, ele pode visualizar os chamados que estão disponíveis
    para serem atendidos e os chamados que já estão atribuídos a ele.
    ● Ao clicar em um chamado, o técnico pode visualizar as informações
    detalhadas e modificar o status do chamado para "Aguardando técnico",
    "Em atendimento", "Escalado para outro setor" ou "Finalizado".
  </p>
</main>
</body>
</html>