<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main>
  <h2>
    TELA DO TÉCNICO AQUI
  </h2>
  <p>
    ● Na tela do técnico, ele pode visualizar os chamados que estão disponíveis
    para serem atendidos e os chamados que já estão atribuídos a ele.
    ● Ao clicar em um chamado, o técnico pode visualizar as informações
    detalhadas e modificar o status do chamado para "Aguardando técnico",
    "Em atendimento", "Escalado para outro setor" ou "Finalizado".
  </p>

  </p>
  <div class="main flex-column">

    <div><h1> Seus chamados: </h1></div>
    <div class="custom-column">
      <table class="table table-striped table-hover">
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Prioridade</th>
          <th>Nome</th>
          <th>Setor</th>
          <th>Status</th>
        </tr>
        <tr th:each="item : ${items}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.descricao}"></td>
          <td th:text="${item.prioridade}"></td>
          <td th:text="${item.nome}"></td>
          <td th:text="${item.setorDeDirecionamento}"></td>
          <td th:text="${item.status}"></td>

        </tr>
      </table>
        <!-- Outros chamados seriam listados aqui -->

        <div><h1> Chamados disponíveis: </h1></div>
      <table class="table table-striped table-hover">
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Prioridade</th>
          <th>Nome</th>
          <th>Setor</th>
          <th>Status</th>
        </tr>
        <tr th:each="aberto : ${abertos}">
          <td th:text="${aberto.id}"></td>
          <td th:text="${aberto.descricao}"></td>
          <td th:text="${aberto.prioridade}"></td>
          <td th:text="${aberto.nome}"></td>
          <td th:text="${aberto.setorDeDirecionamento}"></td>
          <td th:text="${aberto.status}"></td>

        </tr>
      </table>
    </div>


  </div>
</main>
</body>
</html>