<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main style="align-items: center; justify-items: center;">
    <div class="card-template" style="width: 720px; ">
    <h2>
        ABRIR CHAMADO
    </h2>
        <form class="editForm" action="/criar-chamado" method="post" style="
        align-items: center; gap: 30px; margin-top: 10px;">
            <div style="display: flex; gap: 30px;">
                <div>
                    <div class="editForm">
                        <label for="tituloChamado">Titulo:</label>
                        <input id="tituloChamado" name="tituloChamado"></input>
                    </div>
                    <div class="editForm">
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea>
                    </div>
                </div>
                <div>
                    <div class="editForm">
                        <label for="prioridade">Prioridade:</label>
                        <select id="prioridade" name="prioridade">
                            <option value="Baixa">Baixa</option>
                            <option value="Média">Média</option>
                            <option value="Alta">Alta</option>
                        </select>
                    </div>
                    <div class="editForm" style="margin-top: 5px">
                        <label for="setorDeDirecionamento"> Setor responsável </label>
                        <select id="setorDeDirecionamento" name="setorDeDirecionamento">
                            <option th:each="setorDeDirecionamento : ${T(com.soulcode.demo.models.Sector).values()}"
                                    th:value="${setorDeDirecionamento}"
                            >
                                <span th:text="${#strings.capitalize(setorDeDirecionamento.name().replace('_', ' '))}"></span>
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <input type="hidden" id="usuario" name="usuario" th:value="${param.usuario}">
            <input type="hidden" id="setor" name="setor" th:value="${param.setor}">

            <div th:if="${param.mensagem}">
                <script th:inline="javascript">
                    alert([[${param.mensagem}]]);
                </script>
            </div>


            <button class="simple-btn" type="submit">Criar Chamado</button>
        </form>

    </div>
</main>

<script>
    // Extrair os parâmetros da URL
    const params = new URLSearchParams(window.location.search);
    const usuario = params.get('usuario');
    const setor = params.get('setor');
    const mensagem = params.get('mensagem'); // Adicionando mensagem

    // Pré-preencher os campos do formulário com as informações do usuário
    document.getElementById('usuario').value = usuario;
    document.getElementById('setor').value = setor;

    // Exibir alerta com a mensagem, se presente
    if (mensagem) {
        alert(mensagem);
    }
</script>

</body>
</html>