<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Painel do Usuário</title>
</head>
<body>
<main>
    <h1>Bem-vindo ao Painel do Usuário</h1>

    <!-- Formulário de filtro de chamados -->
    <form action="/user" method="GET">
        <label for="status">Filtrar por status:</label>
        <select name="status" id="status">
            <option value="">Todos</option>
            <option value="Aguardando_técnico">Aguardando técnico</option>
            <option value="Em_atendimento">Em atendimento</option>
            <option value="Escalado_para_outro_setor">Escalado para outro setor</option>
            <option value="Finalizado">Finalizado</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Tabela de chamados -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th >Descrição</th>
            <th >Setor do chamado</th>
            <th>Prioridade</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.id}"></td>
            <td  th:text="${ticket.tituloChamado}"></td>
            <td class="truncate" th:text="${ticket.descricao}"></td>
            <td th:text="${ticket.setorDeDirecionamento}"></td>
            <td th:text="${ticket.prioridade}"></td>
            <td th:text="${ticket.status}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Botão para editar chamados aguardando técnico -->
    <a href="/user-tickets">
        <button>Editar Chamados</button>
    </a>

    <!-- Botão para criar um novo chamado -->
    <a href="/chamado">
        <button>Criar Chamado</button>
    </a>
</main>
</body>
</html>