<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout (~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h2>
        TELA DO USUÁRIO AQUI
    </h2>
    <p>
        Na tela do usuário (aparece o dados do usuário logado em algum local), ele pode
        visualizar os chamados que criou anteriormente e criar novos chamados.
        ○ Os chamados devem ser cadastrados no banco de dados.
        ○ Os campos necessários para cadastro deve ser pensado pelo grupo ( quanto mais
        completo melhor)

        ● Os chamados criados por ele exibe informações como usuário, setor, descrição,
        prioridade e data de início. (e outras também).
        ● Ao criar um novo chamado, o usuário preenche os campos necessários e envia os
        dados.
    </p>
</main>
</body>
</html>